OPENROUTER_API_KEY=pega-tu-llave-aqui

MODELO_PLANNER=google/gemini-2.5-flash
MODELO_SQL=anthropic/claude-sonnet-4.5
MODELO_ANALYST=google/gemini-2.5-flash
MODELO_EMBEDDINGS=openai/text-embedding-3-small
